html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	background-color: #FCFFDE;
	margin:0;
}
div#aqi-chart-wrap{
	margin:0 auto;
	margin-top: 80px;
	border: 2px solid black;
	background-color: #FEFEEB;
	width: 1400px;
	text-align: center;
}
div#aqi-chart-wrap div{
	display: inline-block;
	opacity: 0.8;
	margin: 0 2px;
}
footer{
	background-color:#262626;
	text-align:center;
	box-sizing: border-box;
	width: 100%;
	padding:25px;
	color: white;
	clear: both;
	position: absolute;
	bottom: 0;
}